<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeamProjectFix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3B3104F2AC29B0A00C6DD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B3105F2AC29B0B00C6DD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B310692AC29B0B00C6DD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
